* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  height: 100vh;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(180, 3%, 41%);
}

#name {
  font-family: Arial, sans-serif;
  color: hsl(46, 100%, 44%);
  padding: 10px;
  margin-bottom: 10px;
}
#timer-container {
  background-color: hsl(180, 7%, 81%);
  /* border: 2px solid black; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#display {
  font-size: 5.5rem;
  font-family: monospace;
  color: hsl(180, 86%, 39%);
  text-shadow: 2px 2px 2px hsl(180, 86%, 39%);
  margin-bottom: 10px;
}

#Button {
  display: flex;
  justify-content: center;
}
#Button button {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 5px 20px;
  margin: 10px;
  border-style: none;
  border-radius: 10px;
  background-color: hsl(120, 100%, 25%);
}
#Button button:hover {
  background-color: hsl(120, 98%, 35%);
  cursor: pointer;
}
